---
import type { MyFrontMatter } from "../scripts/util";

export interface Props extends Partial<MyFrontMatter> {
  title: string;
  hasTheme?: boolean;
}

const {
  title,
  author = "Darren Daniel Day",
  description = "Darren Daniel Day's personal index.",
  tags,
  hasTheme,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/assets/DarrenDanielDay.jpg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="publisher" content="Darren Daniel Day" />
    {tags && <meta name="keywords" content={tags.toString()} />}
    {hasTheme && <meta name="color-theme" content="light dark" />}
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style lang="scss" is:global>
      @import "../styles/global.scss";
    </style>
  </body>
</html>
